{
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "semi": "off",
    "no-console": "off",
    "no-extra-semi": "off",
    "no-async-promise-executor": "off"
  }
}
