{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "semi": "off",
    "no-console": [
      "warn", { allow: ["error"] }
    ]
  }
}
